---
import { Image } from "astro:assets";
import MiniButton from "./MiniButton.astro";

const { id, nombre, descripcion, img, technologies } = Astro.props;
---

<article class="flex flex-col gap-5 items-start lg:max-w-[28rem]">
  <Image
    src={img}
    alt=`${nombre} project`
    class="w-[25rem] lg:w-[28rem] rounded-md"
  />
  <h3 class="text-2xl font-bold">{nombre}</h3>
  <div class="flex gap-2">
    {
      technologies &&
        technologies.map((technologyy) => (
          <MiniButton
            technologyName={technologyy.technologyName}
            section={technologyy.section}
          />
        ))
    }
  </div>
  <p>{descripcion}</p>
  <a
    class="px-3 py-1 rounded-xl border cursor-pointer transition-transform hover:scale-110"
    >Preview</a
  >
</article>
